body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    line-height: 1.6em;
}

h1,
h2 {
    color: #007E7E
}

h1 {
    font-size: 150%
}

h2 {
    font-size: 120%;
}

h3 {
    font-size: 110%;
}