body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    line-height: 1.6em;
}

h1,
h2 {
    color: #007E7E
}

h1 {
    font-size: 150%
}

h2 {
    font-size: 130%;
}

h3 {
    font-size: 110%;
}

#guarantee {
    line-height: 1.9em;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #444;

    border: 1px dashed #fff;
    border-radius: 1em 0 1em 0;

    padding: 25px;
    padding-left: 80px;
    margin: 30px;
    margin-right: 25%;

    background-color: #a7cece;
    background-image: url(https://wickedlysmart.com/hfhtmlcss/chapter9/lounge-complete/images/background.gif);
    background-repeat: no-repeat;
    background-position: top left;
}

#weekly {
    text-align: center;
    line-height: 1;

    border: 2px solid #007E7E;
    width: 15%;

    margin-left: 20px;
    padding: 0px 20px 20px 20px;

    background-image: url(https://wickedlysmart.com/hfhtmlcss/chapter10/lounge-complete/images/cocktail.gif);
    background-repeat: repeat-x;

    float: right;
}

#weekly h2 {
    color: black;
}

#weekly h3 {
    color: red;
}

#weekly a:link {
    color: #007E7E;
}

#weekly a:visited {
    color: #005050;
}

#weekly a:hover,
#weekly a:focus {
    color: red;
}

#weekly a:active {
    color: blue;
}

.cd {
    font-style: italic;
}

.artist {
    font-weight: bold;
}

footer {
    font-size: 50%;
    text-align: center;
    line-height: normal;
    margin-top: 30px;
}